@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.summer-sale {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 14px;

  .shop-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    text-decoration: underline;
  }

  .language-button {
    margin-left: 230px;
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
  }
}

.navigation {
  padding-top: 48px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;

  .logo {
    font-size: 24px;
    font-weight: 700;
  }

  .nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }

  .actions {
    display: flex;
    gap: 24px;
    .search-input {
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 4px;
      padding: 7px 12px 7px 10px;
      input {
        border: none;
        background-color: inherit;
        outline: none;
      }
    }
  }
}

.products-intro {
  display: flex;
  justify-content: space-around;
}

.content-menu {
  border-right: 1px solid #b3b3b3;
  padding-top: 40px;
  padding-right: 16px;
  padding-left: 30px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    li {
      display: flex;
      justify-content: space-between;
      width: 220px;
    }
  }
}

.iphone14 {
  // height: 344px;
  width: 70%;
  padding-top: 40px;
}

.section-header {
  color: #db4444;
  font-size: 16px;
  position: relative;
  p {
    padding-left: 25px;
  }

  &::before {
    content: "";
    width: 20px;
    height: 40px;
    background-color: #db4444;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
}
.flash-sales {
  padding-top: 150px;
  padding-left: 135px;

  .time-left {
    padding-top: 25px;
    display: flex;
    align-items: center;
    h2 {
      font-size: 36px;
      padding-right: 87px;
    }
    .timer-wrapper {
      display: flex;
      gap: 22px;
    }
    .red-dots {
      color: #db4444;
      font-size: 32px;
      align-self: flex-end;
    }
    .days,
    .hours,
    .minutes,
    .seconds {
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: center;
    }
    .timer-headers {
      font-size: 12px;
    }

    .timer-initials {
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.navigation-btns {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
  padding-right: 140px;

  img {
    background: #f5f5f5;
    border-radius: 50%;
    padding: 7px;
  }
}

.sales-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;

  padding-bottom: 60px;
  border-bottom: 0.5px solid #b3b3b3;
  .sale-products {
    padding-top: 40px;
    display: flex;
    gap: 50px;
    .product {
      width: 250px;
      height: 250px;
      background-color: #b3b3b3;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 10px;

      p {
        width: 55px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #db4444;
      }

      &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &-actions {
        display: flex;
        flex-direction: column;
        gap: 8px;

        img {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ffffff;
          padding: 5px;
        }
      }

      &-text {
        line-height: 24px;

        .new-price {
          color: #db4444;
        }
        .old-price {
          text-decoration: line-through;
          color: rgba(0, 0, 0, 0.59);
        }
      }
      &-name {
        font-size: 16px;
        font-weight: 500;
      }
      &-review {
        display: flex;
        align-items: center;

        &--amount {
          opacity: 50%;
        }
      }
    }
  }
  .view-products-btn {
    padding: 16px 48px;
    background-color: #db4444;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 4px;
    align-self: center;
  }
}

.categories {
  padding-top: 150px;
  padding-left: 135px;
  padding-bottom: 60px;

  border-bottom: 0.5px solid #b3b3b3;

  .categories-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    h2 {
      font-size: 36px;
      padding-right: 87px;
    }
  }
  .browse-categories {
    display: flex;
    gap: 30px;

    .category {
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(0, 0, 0, 0.3);
      align-items: center;
      justify-content: center;
      width: 175px;
      height: 140px;
      margin-top: 60px;
    }

    .camera {
      background-color: #db4444;
      color: #ffffff;
    }
  }
}

.best-selling-products .product-actions {
  align-items: flex-end;
  width: 100%;
}
