/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wishlist-container {
  width: 1225px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 135px;
  font-family: "Poppins", sans-serif;
  color: black;
}
.wishlist-container .wishlist {
  font-size: 20px;
  font-weight: 400;
}
.wishlist-container .bag-btn {
  width: 223px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

#add-to-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;
  left: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}
#add-to-cart .cart1 {
  margin-right: 10px;
}

.wishlist-sections-header {
  color: #db4444;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
}
.wishlist-sections-header p {
  padding-left: 25px;
}
.wishlist-sections-header::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: #db4444;
  position: absolute;
  bottom: 20px;
  left: 0;
}

#for-you {
  color: black;
}
#for-you::before {
  bottom: 20px;
}

.see-all-btn {
  width: 150px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 16px;
  cursor: pointer;
}

#best-selling-products-header {
  padding-left: 0;
  padding-top: 30px;
  width: 100%;
}

#flash-sales-id {
  padding-top: 0px;
}

#sales-section-id {
  border-bottom: none;
}

#sales-section-id2 {
  border-bottom: none;
}

#wishlist-navigation {
  padding-left: 25px;
  padding-right: 25px;
}

.product-actions {
  display: flex;
  flex-direction: row;
}

.route-address {
  font-size: 14px;
  margin: 80px 0 40px 135px;
}
.route-address span {
  color: #b3b3b3;
}

.our-story {
  margin-left: 135px;
  display: flex;
  justify-content: space-between;
}
.our-story-content {
  display: flex;
  flex-direction: column;
  width: 525px;
}
.our-story-content--header {
  margin-top: 180px;
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 600;
}
.our-story-content--text {
  font-size: 16px;
  line-height: 26px;
}
.our-story-content--text p {
  margin-bottom: 40px;
}

.statistics {
  margin: 140px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.statistics .capital {
  font-weight: 600;
  font-size: 20px;
}
.statistics .lowercase {
  font-weight: 400;
  font-size: 14px;
}
.statistics .statistics-icon {
  width: 40px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 8px solid #b3b3b3;
  margin-bottom: 18px;
}
.statistics .sale-card {
  background-color: #fff;
}
.statistics .statistics-card {
  width: 270px;
  height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.statistics #sale-statistics {
  background-color: #db4444;
  color: #fff;
}

.staff {
  display: flex;
  justify-content: space-around;
}
.staff .staff-member {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 32px;
}
.staff .staff-member .socials {
  width: 120px;
}
.staff .staff-member h2 {
  font-size: 32px;
  font-weight: 500;
}
.staff .staff-member p {
  font-size: 16px;
}

.navigation-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 140px 0;
  gap: 12px;
}
.navigation-dots .dot {
  background-color: #b3b3b3;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.navigation-dots .dot--red {
  background-color: #db4444;
}

#about-service-icons {
  margin-bottom: 140px;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.summer-sale {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 14px;
  min-width: 1024px;
}
.summer-sale .shop-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.summer-sale .language-button {
  margin-left: 230px;
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  cursor: pointer;
}

.navigation {
  padding-top: 48px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #b3b3b3;
}
.navigation .logo {
  font-size: 24px;
  font-weight: 700;
}
.navigation .nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.navigation .actions {
  display: flex;
  gap: 24px;
}
.navigation .actions .search-input {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 7px 12px 7px 10px;
}
.navigation .actions .search-input input {
  border: none;
  background-color: inherit;
  outline: none;
}

.products-intro {
  display: flex;
  justify-content: space-around;
}

.content-menu {
  border-right: 1px solid #b3b3b3;
  padding-top: 40px;
  padding-right: 16px;
  padding-left: 30px;
}
.content-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.content-menu ul li {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.iphone14 {
  width: 70%;
  padding-top: 40px;
}

.section-header {
  color: #db4444;
  font-size: 16px;
  position: relative;
}
.section-header p {
  padding-left: 25px;
}
.section-header::before {
  content: "";
  width: 20px;
  height: 40px;
  background-color: #db4444;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.flash-sales {
  padding-top: 150px;
  padding-left: 135px;
}
.flash-sales .time-left {
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.flash-sales .time-left h2 {
  font-size: 36px;
  padding-right: 87px;
}
.flash-sales .time-left .timer-wrapper {
  display: flex;
  gap: 22px;
}
.flash-sales .time-left .red-dots {
  color: #db4444;
  font-size: 32px;
  align-self: flex-end;
}
.flash-sales .time-left .days,
.flash-sales .time-left .hours,
.flash-sales .time-left .minutes,
.flash-sales .time-left .seconds {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.flash-sales .time-left .timer-headers {
  font-size: 12px;
}
.flash-sales .time-left .timer-initials {
  font-size: 32px;
  font-weight: 700;
}

.navigation-btns {
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
  padding-right: 140px;
}
.navigation-btns img {
  background: #f5f5f5;
  border-radius: 50%;
  padding: 7px;
}

.sales-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 0.5px solid #b3b3b3;
}
.sales-section .sale-products {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.sales-section .sale-products .product {
  width: 250px;
  height: 250px;
  background-color: #b3b3b3;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.sales-section .sale-products .product p {
  width: 55px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4444;
}
.sales-section .sale-products .product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sales-section .sale-products .product-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sales-section .sale-products .product-actions img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
}
.sales-section .sale-products .product-text {
  line-height: 24px;
}
.sales-section .sale-products .product-text .new-price {
  color: #db4444;
}
.sales-section .sale-products .product-text .old-price {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.59);
}
.sales-section .sale-products .product-name {
  font-size: 16px;
  font-weight: 500;
}
.sales-section .sale-products .product-review {
  display: flex;
  align-items: center;
}
.sales-section .sale-products .product-review--amount {
  opacity: 50%;
}
.sales-section .sale-products .product--colors {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sales-section .sale-products .product--colors .red {
  background-color: #db4444;
}
.sales-section .sale-products .product--colors .yellow {
  background-color: #eeff61;
}
.sales-section .sale-products .product--colors .black {
  background-color: #000;
}
.sales-section .sale-products .product--colors .green {
  background-color: #184a48;
}
.sales-section .sale-products .product--colors > * {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.sales-section .sale-products .product--colors--selected {
  border: 2px solid black;
  padding: 1px;
}
.sales-section .view-products-btn {
  padding: 16px 48px;
  background-color: #db4444;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 4px;
  align-self: center;
}

.categories {
  padding-top: 150px;
  padding-left: 135px;
  padding-bottom: 60px;
  border-bottom: 0.5px solid #b3b3b3;
}
.categories .categories-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.categories .categories-navigation h2 {
  font-size: 36px;
  padding-right: 87px;
}
.categories .browse-categories {
  display: flex;
  gap: 30px;
}
.categories .browse-categories .category {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 140px;
  margin-top: 60px;
}
.categories .browse-categories .camera {
  background-color: #db4444;
  color: #ffffff;
}

.best-selling-products .product-actions,
.our-products .product-actions {
  align-items: flex-end;
  width: 100%;
}

.jbl-sale {
  background-color: black;
  display: flex;
  margin: 140px 135px;
  color: #ffffff;
  padding: 60px;
  overflow: hidden;
}
.jbl-sale__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.jbl-sale__main--categories {
  color: #00ff66;
}
.jbl-sale__main--header {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}
.jbl-sale__main--btn {
  background-color: #00ff66;
  border-radius: 4px;
  color: inherit;
  font-family: inherit;
  padding: 16px 48px;
  border: none;
}
.jbl-sale__main--time-left {
  display: flex;
  gap: 24px;
  margin: 40px 0;
}
.jbl-sale__main--time-left section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  color: black;
  font-size: 11px;
}
.jbl-sale__main--time-left section p:first-child {
  font-weight: 600;
  font-size: 16px;
}

.our-products {
  padding-top: 150px;
  padding-left: 135px;
}

.new-arrivals {
  padding-top: 150px;
  padding-left: 135px;
  padding-bottom: 60px;
  margin-bottom: 100px;
}
.new-arrivals h2 {
  font-size: 36px;
  margin: 20px 0 60px 0;
  font-weight: 600;
}
.new-arrivals .new-arrival-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
}
.new-arrivals .new-arrival-grid div {
  text-align: center;
  font-size: 20px;
  background-color: #000;
  color: #ffffff;
}
.new-arrivals .new-arrival-grid h2,
.new-arrivals .new-arrival-grid p,
.new-arrivals .new-arrival-grid button {
  position: relative;
  z-index: 1;
  color: inherit;
  margin: 0;
  text-align: start;
  margin-left: 20px;
}
.new-arrivals .new-arrival-grid button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  font-family: inherit;
  margin-bottom: 24px;
}
.new-arrivals .new-arrival-grid .ps5 {
  grid-column: 1;
  grid-row: span 3;
  position: relative;
  width: 570px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 50px;
}
.new-arrivals .new-arrival-grid .ps5 img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 511px;
}
.new-arrivals .new-arrival-grid .woman-collection {
  grid-column: 2/span 2;
  grid-row: 1;
  position: relative;
  text-align: start;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 16px;
}
.new-arrivals .new-arrival-grid .woman-collection img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.new-arrivals .new-arrival-grid .woman-collection p {
  width: 360px;
  margin: 20px;
}
.new-arrivals .new-arrival-grid .speakers,
.new-arrivals .new-arrival-grid .perfume {
  grid-column: 2;
  grid-row: 3;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 16px;
  min-height: 270px;
}
.new-arrivals .new-arrival-grid .speakers img,
.new-arrivals .new-arrival-grid .perfume img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.new-arrivals .new-arrival-grid .speakers p,
.new-arrivals .new-arrival-grid .perfume p {
  width: 360px;
  margin: 20px;
}
.new-arrivals .new-arrival-grid .perfume {
  grid-column: 3;
  grid-row: 3;
}

.service-icons {
  width: 943px;
  height: 161px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
.service-icons .capital {
  font-weight: 600;
  font-size: 20px;
}
.service-icons .lowercase {
  font-weight: 400;
  font-size: 14px;
}
.service-icons .customer-service,
.service-icons .delivery-service,
.service-icons .secure-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-icons .service-icon {
  width: 40px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 8px solid #b3b3b3;
  margin-bottom: 18px;
}

.up-img {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 62px;
}

.footer-container {
  width: 100%;
  max-height: 440px;
  margin-top: 12px;
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.footer-container .footer-list {
  display: flex;
  justify-content: space-between;
  margin: 32px 135px 60px 135px;
  padding-top: 80px;
  line-height: 16px;
}
.footer-container .footer-list .email-input {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 12px 16px;
  border-radius: 4px;
}
.footer-container .footer-list .email-input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
.footer-container .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 60px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.3);
}
.footer-container .copyright .C {
  filter: invert(18%) sepia(8%) saturate(7%) hue-rotate(4deg) brightness(93%) contrast(20%);
}
.footer-container .exclusive-footer,
.footer-container .support-footer,
.footer-container .account-footer,
.footer-container .quick-lick-footer,
.footer-container .download-footer {
  line-height: 38px;
}
.footer-container .bolding {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@media (min-width: 800px) and (max-width: 1024px) {
  .summer-sale {
    justify-content: space-around;
    width: 100%;
    min-width: 800px;
  }
  .summer-sale .language-button {
    margin-left: 30px;
  }
  .navigation {
    padding-top: 28px;
  }
  .navigation .logo {
    font-size: 14px;
  }
  .navigation .nav-btns {
    gap: 10px;
  }
  .navigation .actions {
    gap: 14px;
  }
  .navigation .actions .search-input {
    padding: 7px;
  }
  .flash-sales {
    padding-top: 80px;
    padding-left: 50px;
  }
  .flash-sales .time-left {
    padding-top: 25px;
  }
  .flash-sales .time-left h2 {
    font-size: 14px;
    padding-right: 37px;
  }
  .flash-sales .time-left .timer-wrapper {
    gap: 15px;
  }
  .flash-sales .time-left .red-dots {
    font-size: 16px;
  }
  .flash-sales .time-left .days,
  .flash-sales .time-left .hours,
  .flash-sales .time-left .minutes,
  .flash-sales .time-left .seconds {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
  .flash-sales .time-left .timer-headers {
    font-size: 12px;
  }
  .flash-sales .time-left .timer-initials {
    font-size: 18px;
    font-weight: 700;
  }
  .sales-section {
    gap: 30px;
    padding-bottom: 30px;
  }
  .sales-section .sale-products {
    padding-top: 20px;
    gap: 10px;
  }
  .sales-section .sale-products .product {
    width: 150px;
    height: 150px;
  }
  .sales-section .sale-products .product p {
    width: 55px;
  }
  .sales-section .sale-products .product-img {
    width: 100px;
  }
  .sales-section .sale-products .product-actions img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 5px;
  }
  .sales-section .sale-products .product-text {
    line-height: 15px;
  }
  .sales-section .sale-products .product-text p {
    font-size: 12px;
  }
  .sales-section .sale-products .product-name {
    font-size: 12px;
  }
  .sales-section .view-products-btn {
    padding: 16px 48px;
    background-color: #db4444;
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 4px;
    align-self: center;
  }
  .categories {
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  .categories .categories-navigation {
    padding-top: 10px;
  }
  .categories .categories-navigation h2 {
    font-size: 20px;
    padding-right: 60px;
  }
  .categories .browse-categories {
    gap: 10px;
    flex-wrap: wrap;
  }
  .new-arrivals {
    padding-top: 150px;
    padding-left: 120px;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }
  .new-arrivals h2 {
    font-size: 20px;
    margin: 20px 0 60px 0;
    font-weight: 600;
  }
  .new-arrivals .new-arrival-grid {
    display: flex;
    flex-direction: column;
  }
  .service-icons {
    width: 100%;
    min-width: 100px;
    gap: 25px;
  }
  .service-icons .capital {
    font-size: 15px;
  }
  .service-icons .lowercase {
    font-size: 12px;
  }
  .service-icons .service-icon {
    width: 40px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 8px solid #b3b3b3;
    margin-bottom: 18px;
  }
  .footer-container {
    font-size: 12px;
  }
  .footer-container .footer-list {
    margin: 30px;
    padding-top: 10px;
  }
  .footer-container .copyright {
    margin-bottom: 10px;
  }
  .footer-container .bolding {
    font-size: 14px;
  }
}
.jbl-sale {
  position: relative;
}
.jbl-sale__main {
  z-index: 1;
}
.jbl-sale .img-content {
  position: absolute;
  z-index: 0;
}/*# sourceMappingURL=styles.css.map */